/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/08/2016, 01:26:02
    Author     : Elian
*/

@charset "utf-8";
/*CSS Documents*/
body{
    margin:0;
    padding:0;
    background:#f3f3f3;
    
}

#topo{margin:0 auto;
      height: 150px; 
      width: 800px; 
      border: 1px #ccc solid; 
      background:#fff;
      border-bottom: 2px #336633 solid;
      box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

  
#rodape {
      margin:0 auto;
      height: 20px; 
      width: 800px; 
      border: 1px #ccc solid; 
      background:#fff;
      border-top: 2px #336633 solid;
      font-family: Arial;
      font-size:12px;
      text-align: center;
      padding: 0px;
      box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}    

#conteudo {
    width:800px; 
    height:auto;
    border: 1px #D3D3D3 solid;
    margin:0 auto;
    background: #FfF;
    clear: both;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
         
}
#conteudo h2{
    font-family: Arial, sans-serif;
}
#conteudo hr{
    border: 1px #D3D3D3 solid;
}
#cont { 
    margin: 10px;
    font-size: 12px; 
    padding: 0px;
    
}


#contcad { 
    position: absolute;
    left: 920px;
    top: 195px;
    
    font-size: 12px;   
    border-left: 1px #ccc solid;
}
#contcad li{
    background:#0000FF;
    list-style: none; 
   
}
#contcad a{
    padding: 6px;
    display: block;
    text-decoration: none;
    color:#fff; 
}

#contcad a:hover {
    background: #B22222;
    color: #fff;
    padding: 6px;
}